<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"><link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="otakubgr/img" href="/img/otakuplanet.png" />
    <title>Cadastro</title>
</head>
<body>
    <nav class="nav-flex">
        <h1 class="titulo"><a class="logo" href="/">World Otaku</a></h1>
        <ul class="nav-bar">
            <li><a href="/animes">Animes</a></li>
            <li><a href="/">Mangas</a></li>
            <li><a href="/">Personagens</a></li>
            <li><a href="/animeCadastro">Cadastro</a></li>
        </ul>        
    </nav>
    
    <% if(message != "") {  %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% }  %>

    <header>
        <p>-------------------------//--------------------</p>
    </header>
    <section id="animeCadastro">
        <a href="/"><img src="/img/fecharbtn.png"  id="closed"></a>  
        <form action="/animeCadastrar" method="POST">
            <div>
                <label for="nome">Digite o nome do Anime: </label>
                <input type="text" name="nome" id="nome" placeholder="Nome do Anime">
            </div>
        
            <div>
                <label for="descricao">Digite a descrição do Anime: </label>
                <input type="text" name="descricao" id="descricao" placeholder="Descrição">
            </div>

            <div>
                <label for="imagem">Coloque o link para a imagem do Anime: </label>
                <input type="text" name="imagem" id="imagem" placeholder="Link da imagem">
            </div>
        
            <button type="submit">Criar</button>
        </form>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>