<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
    <title>World Otaku</title>
</head>
<body>
    <nav class="nav-flex">
        <ul class="nav-bar">
            <li><a href="/animes">Animes</a></li>
            <li><a href="/">Mangas</a></li>
            <li><a href="/">Personagens</a></li>
            <!-- <li><button class="btn_cadastro"><a href="/animeCadastro">CADASTRO</button></li> -->
        </ul>        
    </nav>
    
    <% if(message != "") {  %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% }  %>

    <header>
    </header>
    <% if(anime != null) {  %>
        <section id="inscrever">
            <form action="/animeDeletar/<%= anime.id %>" method="POST">
                <div>
                   <h4>DESEJA DELETAR O CARD? <%= anime.nome %>"</h4>
                   <a href="/"><img src="/img/fecharbtn.png"  id="closed"></a>
                </div>
                <i class="fa fa-trash" id="icon2"></i> - Delete Icon<br>
            </form>
        </section>
        <% }  %>
    
    <script src="/js/script.js"></script>
</body>
</html>