<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>World Otaku</title>
</head>
<body>
    <nav class="nav-flex">
        <h1 class="titulo"><a class="logo" href="/">World Otaku</a></h1>
        <ul class="nav-bar">
            <li><a href="/animes">Animes</a></li>
            <li><a href="/">Mangas</a></li>
            <li><a href="/">Personagens</a></li>
            <!-- <li><button class="btn_cadastro"><a href="/animeCadastro">CADASTRO</button></li> -->
        </ul>        
    </nav>
    
    <% if(message != "") {  %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% }  %>

    <header>
    </header>
    <% if(anime != null) {  %>
        <section id="inscrever">
            <form action="/animeDeletar/<%= anime.id %>" method="POST">
                <div>
                    <a href="/"><img src="/img/anichoro.gif" width="240"  id="del"></a>
                   <h4>DESEJA DELETAR O CARD? <%= anime.nome %>"</h4>                   
                </div>
                <button class="btn_delete" type="submit">Deletar</button>
            </form>
        </section>
        <% }  %>
    
    <script src="/js/script.js"></script>
</body>
</html>