*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
html body  {
    /* border: 5px  solid green; */
    height: 500%;
    background: -webkit-linear-gradient(rgb(218, 49, 49), rgba(228, 228, 51, 0.83));
    background-image: url("/img/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;    
    }
    .titulo {
        /* border: 2px solid rgb(3, 3, 3); */
        font-size: 360%;
        background: -webkit-linear-gradient(rgba(228, 228, 51, 0.83), rgb(218, 49, 49));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0.5px darkred;
        text-shadow: 0 0 10px white;
        background-color: linear-gradient(to left, rgb(170, 170, 232), blue) ;       
      }
      .logo {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 4px;
      }
      nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background: #23232e; */
        height: 8vh;
      }
      .nav-bar {
        padding-top: 55px;
        font-weight: 900;  
        font-size: x-large;  
        list-style: none;
        display: flex;
      }
      
      .nav-bar li {
        letter-spacing: 3px;
        margin-left: 100px;
      }
      a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
      }
      
      a:hover {
        opacity: 0.7;
      }

.btn_cadastro{
  border: 6px solid yellow;
  background-color: darkred;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 10px;
}
.btn_cadastro:hover {
  background-color: #f44336;
  color: white;
}
#closed{ 
  max-width:30px;
  max-height:20px;
  width: auto;
  height: auto;
  margin-left: 75%;
  
  }
  #closed:hover{
   transition: all 0.5s;
   cursor: pointer;
   -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(82, 4, 4, 0.5));
  }
  section#animeCadastro {
    padding: 0rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 0 20rem 10rem 30rem;
    box-shadow: 0 0 1rem #00000060;
    border-radius: 1rem;
  }
  section#animeCadastro form {
    width: 100%;
    padding: 2rem;
  }
  section#animeCadastro form div input {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    border: 0.1rem solid #ccc;
  }
  
  section#animeCadastro form div label {
    font-size: 1.3rem;
    color: red;
  }
  
  section#animeCadastro form button {
    border: 1px solid red;
    background-color: #fff;
    color: red;
    padding: 1rem;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.3s ease-out;
    width: 40%;
  }
  
  section#animeCadastro form button:hover {
    background-color: rgb(136, 139, 137);
    color: #fff;
    transform: scale(1.1);
  }
  section#message {
    padding: 1.5rem;
    background-color: orange;
    color: red;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
